<!DOCTYPE html>
<html lang="en" ng-app="tabletallyapp" ng-cloak>
<head>
<base href="/">
    <title>Table Tally | Organize Your E-Commerce Sites</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

      <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/main.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css@3.4.5/css/flag-icon.min.css">

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

      <!-- Angular JS -->
      <script src="https://cdn.jsdelivr.net/npm/angular@1.7.9/angular.min.js"></script>
      <script src="/static/js/app.js"></script>

      <!-- Underscore -->
      <script src="https://cdn.jsdelivr.net/npm/underscore@1.9.1/underscore-min.min.js"></script>

</head>
<body class="<%- mainClass %>" ng-controller="<%- ngController %>">

<%-body%>

</body>
